button{

    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background: #2D333B;
    color: #FFFF;
    font-size: 18px;
    padding: 10px;
}


button:hover{
    border: 1px solid #999999;
    background: #FFFF;
    color: #2D333B;
}