.item-list strong{
    color: #539BF5;
    font-size: 24px;
    font-family: 'Roboto';
}


.item-list p{
    color: #999999;
    font-size: 24px;
    font-family: 'Roboto';
}

.item-list{
    margin: 30px 0;
}